body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    min-height: 100vh;
    gap: 10px;
}

nav,
footer {
    background-color: #2cd82c;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

aside {
    background-color: #fdb1b1;
    color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr;
    gap: 10px;
}

.banner {
    background-color: #30daf8;
    color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db5959;
    font-weight: 900;
}

/* responsive */

@media screen and (max-width: 425px) {
    main {
        grid-template-columns: 1fr;
    }
}
